.content-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 36px;
	border: 1px solid #d5d5d5;
	padding-top: 50px;
	position: relative;
}
.content-wrap:before {
	content: "";
	width: 100%;
	height: 50px;
	background-color: #303030;
	position: absolute;
	left: 0;
	top: 0;
}

.content-wrap .table {
	margin-top: 0;
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
}

@media only screen and (max-width: 767px) {
	.table .table-price,
	.table .table-quantity {
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
		max-width: 100%;
	}
	.table .table-quantity {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.table-quantity-left,
	.table-quantity-right {
		max-width: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.table .table-quantity-status {
		width: 100%;
		position: relative;
		bottom: 0;
		left: 0;
	}
	.table .table-price {
		background-color: transparent !important;
		min-height: auto;
		margin: 0;
	}

	.table .table-addCart {
		margin: 0;
	}

	.table .table-quantity-result {
		margin: 0;
	}
}

@media screen and (max-width: 767px) {
	.content-wrap {
		display: block;
		border: 0;
	}

	.content-wrap .table {
		padding-top: 0;
	}
}

.table-price {
	text-align: right;
	margin-top: 30px;
}
.table-addCart {
	margin-bottom: 30px;
}
.filter {
	width: 300px;
	background-color: #fafafa;
}
@media screen and (max-width: 767px) {
	.filter {
		width: 100%;
		border: 1px solid #d5d5d5;
		border-bottom: 0;
	}
}
.filter__item {
	-webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	padding: 20px 20px 20px 30px;
}
.filter__item:hover {
	background-color: #eeeeee;
}

.filter__item.hide .filter__title:after {
	-webkit-transform: rotate(-45deg) scale(-1);
	    -ms-transform: rotate(-45deg) scale(-1);
	        transform: rotate(-45deg) scale(-1);
	top: -3px;
}

.filter__title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 27px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.filter__title:after {
	content: "";
	background: transparent;
	width: 10px;
	height: 10px;
	border-right: 1px solid #7f7f7f;
	border-top: 1px solid #7f7f7f;
	-webkit-transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-o-transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s, -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: relative;
	top: 3px;
	right: 3px;
}
.filter__checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	width: 100%;
}

.filter__checkbox:not(:last-of-type) {
	margin-bottom: 6px;
}

.filter__checkbox span {
	color: #7f7f7f;
	font-size: 14px;
}

.filter__checkbox input {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.filter__checkbox-box {
	width: 24px;
	height: 24px;
	border: #d8d8d8 1px solid;
	margin-right: 14px;
	background-color: #fff;
	-webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	position: relative;
}

.filter__checkbox-box:after {
	content: "";
	height: 6px;
	width: 12px;
	background: transparent;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: 6px;
	-webkit-transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-o-transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s, -webkit-transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.18s;
	-webkit-transition-delay: 0.15s;
	     -o-transition-delay: 0.15s;
	        transition-delay: 0.15s;
	left: 6px;
	-webkit-transform: rotate(-45deg) scale(0);
	    -ms-transform: rotate(-45deg) scale(0);
	        transform: rotate(-45deg) scale(0);
	opacity: 0;
}

.filter__checkbox input:checked ~ .filter__checkbox-box {
	background-color: #d73127;
}

.filter__checkbox input:checked ~ .filter__checkbox-box:after {
	background-color: #d73127;
	-webkit-transition-delay: 0;
	     -o-transition-delay: 0;
	        transition-delay: 0;
	opacity: 1;
	-webkit-transform: rotate(-45deg) scale(1);
	    -ms-transform: rotate(-45deg) scale(1);
	        transform: rotate(-45deg) scale(1);
}

.sort-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 45px;
}
.sort-panel__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}

.sort-panel__item:not(:last-child) {
	margin-right: 55px;
}

.sort-panel__item-title {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	margin-right: 66px;
	font-size: 14px;
}

.sort-panel__arrow {
	display: inline-block;
	margin-bottom: 2px;
	-webkit-transition: all ease 0.18s;
	-o-transition: all ease 0.18s;
	transition: all ease 0.18s;
}

.sort-panel__arrow_top {
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
	border-bottom: 5px solid #d73127;
}

.sort-panel__arrow_bottom {
	border-top: 5px solid #d5d5d5;
	border-left: 4.5px solid transparent;
	border-right: 4.5px solid transparent;
}

.sort-panel__item input {
	opacity: 0;
	width: 0;
	height: 0;
}

.sort-panel__item input:checked ~ .sort-panel__arrow_bottom {
	border-top-color: #d73127;
}

.sort-panel__item input:checked ~ .sort-panel__arrow_top {
	border-bottom-color: #d5d5d5;
}

.table td:last-child {
	border-right-width: 0;
}


/*# sourceMappingURL=/styleFilter.3a1c3a9e.css.map */